# Planning Districts - Main Mode to Each School

In [2]:
import pandas as pd

df = pd.read_csv('../Data/SMTO_2015/SMTO_2015_Complete_Input.csv')
df = df[df['Level'] != 'Other']
df.head()

,Campus,Level,Status,Mode_Actual,Gender,Licence,Work,Age,HomeZone,Family,...,Domestic.OC,Admission_Avg.SG,Admission_Avg.SC,Admission_Avg.MI,Admission_Avg.YK,Admission_Avg.YG,Admission_Avg.RY,Admission_Avg.OC,Exp_Segment,Exp_Level
0,Scarborough (UTSC),UG,FT,Transit Bus,Female,0,Unknown,20,261,1,...,0.8998,0.893,0.841,0.83,0.817,0.817,0.84,0.824,0.944738,0.944738
1,Downtown Toronto (St. George),Grad,FT,Walk,Female,1,Unknown,25,71,0,...,0.6786,0.893,0.841,0.83,0.817,0.817,0.84,0.824,0.986085,0.986085
2,Downtown Toronto (St. George),UG,FT,Transit Bus,Female,1,Unknown,23,3714,1,...,0.8998,0.893,0.841,0.83,0.817,0.817,0.84,0.824,0.919270,0.919270
3,Downtown Toronto (St. George),UG,FT,Walk,Male,1,Unknown,20,74,0,...,0.8998,0.893,0.841,0.83,0.817,0.817,0.84,0.824,0.919270,0.919270
4,Downtown Toronto (St. George),Grad,FT,Walk,Male,1,Unknown,27,71,0,...,0.6786,0.893,0.841,0.83,0.817,0.817,0.84,0.824,0.986085,0.986085

Now, let us load coordinate and planning district information. To avoid scaling issues, we normalize the coordinates so that the values are between 0 and 1, inclusive. We also plot their correlations.

In [3]:
# Add zone information to df
zones = pd.read_csv('../Data/Zones.csv')
zones.set_index('Zone#', inplace=True)

# Normalize from 0 to 1
zones['X'] = (zones['X'] - zones['X'].min()) / (zones['X'].max() - zones['X'].min())
zones['Y'] = (zones['Y'] - zones['Y'].min()) / (zones['Y'].max() - zones['Y'].min())
zones.corr()

temp = pd.DataFrame([[a[i] for a in (zones['PD'], zones['X'], zones['Y'])] for i in df['HomeZone']], columns=['PD', 'X', 'Y'], index=df.index)
df = pd.concat((df, temp), axis=1)

In [5]:
double_df = df.groupby(['PD', 'School_Codes'])['Mode'].agg(lambda x:x.value_counts().index[0])
double_df

PD  School_Codes
0   SG              Transit
    YK              Transit
1   MI               Active
    OC               Active
    RY               Active
    SC              Transit
    SG               Active
    YG              Transit
    YK              Transit
2   MI              Transit
    OC               Active
    RY              Transit
    SC              Transit
    SG               Active
    YG              Transit
    YK              Transit
3   MI              Transit
    OC              Transit
    RY              Transit
    SC              Transit
    SG              Transit
    YG              Transit
    YK              Transit
4   MI              Transit
    OC              Transit
    RY              Transit
    SC              Transit
    SG              Transit
    YG               Active
    YK              Transit
                     ...
39  OC              Transit
    RY              Transit
    SG              Transit
    YG                 Auto
    YK              Transit
40  MI              Transit
    OC              Transit
    RY              Transit
    SG              Transit
    YK              Transit
41  MI                 Auto
    RY              Transit
    SG              Transit
42  OC              Transit
    SG              Transit
43  MI                 Auto
    SG              Transit
44  MI                 Auto
    OC              Transit
    RY              Transit
    YG              Transit
    YK                 Auto
45  RY              Transit
    SG              Transit
    YK              Transit
46  MI                 Auto
    OC              Transit
    RY              Transit
    SG              Transit
    YK              Transit
Name: Mode, Length: 264, dtype: object

In [20]:
multi_df.loc[0].loc['SG']

Mode
Active     0.000000
Auto       0.333333
Transit    0.666667
Name: SG, dtype: float64

In [13]:
multi_df = df.groupby(['PD', 'School_Codes'])['Mode'].value_counts(normalize = True).unstack().fillna(0)
multi_df

Mode               Active      Auto   Transit
PD School_Codes
0  SG            0.000000  0.333333  0.666667
   YK            0.000000  0.250000  0.750000
1  MI            0.500000  0.277778  0.222222
   OC            0.800000  0.008000  0.192000
   RY            0.843750  0.006250  0.150000
   SC            0.083333  0.145833  0.770833
   SG            0.874664  0.008505  0.116831
   YG            0.000000  0.090909  0.909091
   YK            0.021429  0.071429  0.907143
2  MI            0.200000  0.333333  0.466667
   OC            0.591837  0.020408  0.387755
   RY            0.365385  0.012821  0.621795
   SC            0.000000  0.000000  1.000000
   SG            0.604982  0.023132  0.371886
   YG            0.000000  0.111111  0.888889
   YK            0.041667  0.104167  0.854167
3  MI            0.000000  0.142857  0.857143
   OC            0.105263  0.000000  0.894737
   RY            0.046296  0.009259  0.944444
   SC            0.076923  0.076923  0.846154
   SG            0.209220  0.028369  0.762411
   YG            0.000000  0.125000  0.875000
   YK            0.017341  0.121387  0.861272
4  MI            0.400000  0.200000  0.400000
   OC            0.176471  0.058824  0.764706
   RY            0.117647  0.035294  0.847059
   SC            0.052632  0.157895  0.789474
   SG            0.234114  0.040134  0.725753
   YG            0.525424  0.067797  0.406780
   YK            0.010204  0.163265  0.826531
...                   ...       ...       ...
39 OC            0.000000  0.000000  1.000000
   RY            0.000000  0.033333  0.966667
   SG            0.015873  0.063492  0.920635
   YG            0.000000  0.500000  0.500000
   YK            0.000000  0.103448  0.896552
40 MI            0.062500  0.312500  0.625000
   OC            0.000000  0.000000  1.000000
   RY            0.000000  0.058824  0.941176
   SG            0.000000  0.000000  1.000000
   YK            0.000000  0.076923  0.923077
41 MI            0.000000  1.000000  0.000000
   RY            0.000000  0.000000  1.000000
   SG            0.000000  0.000000  1.000000
42 OC            0.000000  0.000000  1.000000
   SG            0.000000  0.000000  1.000000
43 MI            0.000000  0.500000  0.500000
   SG            0.000000  0.200000  0.800000
44 MI            0.000000  0.500000  0.500000
   OC            0.000000  0.000000  1.000000
   RY            0.000000  0.000000  1.000000
   YG            0.000000  0.000000  1.000000
   YK            0.000000  1.000000  0.000000
45 RY            0.000000  0.000000  1.000000
   SG            0.000000  0.000000  1.000000
   YK            0.000000  0.000000  1.000000
46 MI            0.000000  1.000000  0.000000
   OC            0.000000  0.000000  1.000000
   RY            0.000000  0.000000  1.000000
   SG            0.000000  0.058824  0.941176
   YK            0.000000  0.250000  0.750000

[264 rows x 3 columns]

In [6]:
PD_df = double_df.unstack()
PD_df

School_Codes       MI       OC       RY       SC       SG       YG       YK
PD
0                 NaN      NaN      NaN      NaN  Transit      NaN  Transit
1              Active   Active   Active  Transit   Active  Transit  Transit
2             Transit   Active  Transit  Transit   Active  Transit  Transit
3             Transit  Transit  Transit  Transit  Transit  Transit  Transit
4             Transit  Transit  Transit  Transit  Transit   Active  Transit
5             Transit  Transit  Transit  Transit  Transit  Transit  Transit
6             Transit  Transit  Transit  Transit  Transit  Transit  Transit
7             Transit  Transit  Transit  Transit  Transit  Transit  Transit
8             Transit  Transit  Transit  Transit  Transit  Transit  Transit
9             Transit  Transit  Transit  Transit  Transit  Transit  Transit
10            Transit  Transit  Transit  Transit  Transit  Transit   Active
11            Transit  Transit  Transit  Transit  Transit  Transit  Transit
12                NaN  Transit  Transit  Transit  Transit  Transit  Transit
13            Transit  Transit  Transit  Transit  Transit  Transit  Transit
14            Transit  Transit  Transit  Transit  Transit  Transit  Transit
15            Transit  Transit  Transit   Active  Transit  Transit  Transit
16            Transit  Transit  Transit  Transit  Transit  Transit  Transit
18                NaN  Transit  Transit     Auto  Transit      NaN     Auto
19                NaN      NaN      NaN     Auto   Active      NaN     Auto
20                NaN  Transit  Transit  Transit  Transit  Transit  Transit
21               Auto  Transit  Transit  Transit  Transit     Auto  Transit
22                NaN  Transit  Transit  Transit  Transit     Auto  Transit
23                NaN      NaN  Transit  Transit  Transit  Transit  Transit
24                NaN  Transit  Transit  Transit  Transit      NaN  Transit
25                NaN      NaN      NaN      NaN     Auto      NaN     Auto
26                NaN      NaN  Transit  Transit  Transit      NaN     Auto
27            Transit  Transit  Transit     Auto  Transit   Active  Transit
28                NaN  Transit  Transit     Auto  Transit  Transit  Transit
29               Auto  Transit  Transit  Transit  Transit     Auto  Transit
30            Transit  Transit  Transit     Auto  Transit     Auto  Transit
31               Auto  Transit  Transit  Transit  Transit  Transit  Transit
32                NaN      NaN  Transit  Transit  Transit     Auto  Transit
33            Transit  Transit  Transit  Transit  Transit  Transit  Transit
34               Auto     Auto  Transit     Auto     Auto      NaN  Transit
35            Transit  Transit  Transit  Transit  Transit  Transit  Transit
36            Transit  Transit  Transit  Transit  Transit  Transit  Transit
37               Auto  Transit  Transit      NaN     Auto     Auto  Transit
38            Transit      NaN  Transit  Transit  Transit      NaN  Transit
39               Auto  Transit  Transit      NaN  Transit     Auto  Transit
40            Transit  Transit  Transit      NaN  Transit      NaN  Transit
41               Auto      NaN  Transit      NaN  Transit      NaN      NaN
42                NaN  Transit      NaN      NaN  Transit      NaN      NaN
43               Auto      NaN      NaN      NaN  Transit      NaN      NaN
44               Auto  Transit  Transit      NaN      NaN  Transit     Auto
45                NaN      NaN  Transit      NaN  Transit      NaN  Transit
46               Auto  Transit  Transit      NaN  Transit      NaN  Transit

In [148]:
PD_df['n'] = None
sample_sizes = []

for i in PD_df.index.tolist():
    sample_sizes.append(len(df[df['PD'] == i]))

PD_df['n'] = sample_sizes

In [149]:
PD_df

School_Codes,MI,OC,RY,SC,SG,YG,YK,PD,n
PD,,,,,,,,,
0,NaN,NaN,NaN,NaN,Transit,NaN,Transit,0,7
1,Active,Active,Active,Transit,Active,Transit,Transit,1,3056
2,Transit,Active,Transit,Transit,Active,Transit,Transit,2,957
3,Transit,Transit,Transit,Transit,Transit,Transit,Transit,3,610
4,Transit,Transit,Transit,Transit,Transit,Active,Transit,4,582
5,Transit,Transit,Transit,Transit,Transit,Transit,Transit,5,259
6,Transit,Transit,Transit,Transit,Transit,Transit,Transit,6,510
7,Transit,Transit,Transit,Transit,Transit,Transit,Transit,7,109
8,Transit,Transit,Transit,Transit,Transit,Transit,Transit,8,356
9,Transit,Transit,Transit,Transit,Transit,Transit,Transit,9,144
10,Transit,Transit,Transit,Transit,Transit,Transit,Active,10,617
11,Transit,Transit,Transit,Transit,Transit,Transit,Transit,11,631
12,NaN,Transit,Transit,Transit,Transit,Transit,Transit,12,205
13,Transit,Transit,Transit,Transit,Transit,Transit,Transit,13,553
14,Transit,Transit,Transit,Transit,Transit,Transit,Transit,14,142
15,Transit,Transit,Transit,Active,Transit,Transit,Transit,15,335
16,Transit,Transit,Transit,Transit,Transit,Transit,Transit,16,523
18,NaN,Transit,Transit,Auto,Transit,NaN,Auto,18,10
19,NaN,NaN,NaN,Auto,Transit,NaN,Transit,19,5
20,NaN,Transit,Transit,Transit,Transit,Transit,Transit,20,132
21,Auto,Transit,Transit,Transit,Transit,Auto,Transit,21,142
22,NaN,Transit,Transit,Transit,Transit,Transit,Transit,22,73
23,NaN,NaN,Transit,Transit,Transit,Transit,Transit,23,44
24,NaN,Transit,Transit,Transit,Transit,NaN,Transit,24,14
25,NaN,NaN,NaN,NaN,Transit,NaN,Auto,25,7
26,NaN,NaN,Transit,Transit,Transit,NaN,Auto,26,16
27,Transit,Transit,Transit,Auto,Transit,Transit,Transit,27,60
28,NaN,Transit,Transit,Auto,Transit,Transit,Transit,28,69
29,Auto,Transit,Transit,Transit,Transit,Auto,Transit,29,343
30,Transit,Transit,Transit,Auto,Transit,Auto,Transit,30,40
31,Auto,Transit,Transit,Transit,Transit,Transit,Transit,31,638
32,NaN,NaN,Transit,Transit,Transit,Auto,Transit,32,31
33,Transit,Transit,Transit,Transit,Transit,Transit,Transit,33,577
34,Auto,Auto,Transit,Transit,Auto,NaN,Transit,34,49
35,Transit,Transit,Transit,Transit,Transit,Transit,Transit,35,720
36,Transit,Transit,Transit,Transit,Transit,Transit,Transit,36,1400
37,Auto,Transit,Transit,NaN,Transit,Auto,Transit,37,14
38,Transit,NaN,Transit,Transit,Transit,NaN,Transit,38,64
39,Auto,Transit,Transit,NaN,Transit,Transit,Transit,39,167
40,Transit,Transit,Transit,NaN,Transit,NaN,Transit,40,71
41,Auto,NaN,Transit,NaN,Transit,NaN,NaN,41,4
42,NaN,Transit,NaN,NaN,Transit,NaN,NaN,42,2
43,Transit,NaN,NaN,NaN,Transit,NaN,NaN,43,11
44,Transit,Transit,Transit,NaN,NaN,Transit,Auto,44,7
45,NaN,NaN,Transit,NaN,Transit,NaN,Transit,45,8
46,Auto,Transit,Transit,NaN,Transit,NaN,Transit,46,43

In [152]:
del PD_df['PD']

In [153]:
PD_df.to_csv('PD_Modes.csv')