# Planning Districts - Main Mode to Each School

In [9]:
import pandas as pd

df = pd.read_csv('../Data/SMTO_2015/SMTO_2015_Complete_Input.csv')
df = df[df['Level'] != 'Other']
df.head()

,Campus,Level,Status,Mode_Actual,Gender,Licence,Work,Age,HomeZone,Family,...,Domestic.OC,Admission_Avg.SG,Admission_Avg.SC,Admission_Avg.MI,Admission_Avg.YK,Admission_Avg.YG,Admission_Avg.RY,Admission_Avg.OC,Exp_Segment,Exp_Level
0,Scarborough (UTSC),UG,FT,Transit Bus,Female,0,Unknown,20,261,1,...,0.8998,0.893,0.841,0.83,0.817,0.817,0.84,0.824,0.944738,0.944738
1,Downtown Toronto (St. George),Grad,FT,Walk,Female,1,Unknown,25,71,0,...,0.6786,0.893,0.841,0.83,0.817,0.817,0.84,0.824,0.986085,0.986085
2,Downtown Toronto (St. George),UG,FT,Transit Bus,Female,1,Unknown,23,3714,1,...,0.8998,0.893,0.841,0.83,0.817,0.817,0.84,0.824,0.919270,0.919270
3,Downtown Toronto (St. George),UG,FT,Walk,Male,1,Unknown,20,74,0,...,0.8998,0.893,0.841,0.83,0.817,0.817,0.84,0.824,0.919270,0.919270
4,Downtown Toronto (St. George),Grad,FT,Walk,Male,1,Unknown,27,71,0,...,0.6786,0.893,0.841,0.83,0.817,0.817,0.84,0.824,0.986085,0.986085

Now, let us load coordinate and planning district information. To avoid scaling issues, we normalize the coordinates so that the values are between 0 and 1, inclusive. We also plot their correlations.

In [11]:
# Add zone information to df
zones = pd.read_csv('../Data/Zones.csv')
zones.set_index('Zone#', inplace=True)

# Normalize from 0 to 1
zones['X'] = (zones['X'] - zones['X'].min()) / (zones['X'].max() - zones['X'].min())
zones['Y'] = (zones['Y'] - zones['Y'].min()) / (zones['Y'].max() - zones['Y'].min())
zones.corr()

temp = pd.DataFrame([[a[i] for a in (zones['PD'], zones['X'], zones['Y'])] for i in df['HomeZone']], columns=['PD', 'X', 'Y'], index=df.index)
df = pd.concat((df, temp), axis=1)

In [125]:
double_df = df.groupby(['PD', 'School_Codes']).agg(lambda x:x.value_counts().index[0])
double_df.head()

                                        Campus Level Status Mode_Actual  \
PD School_Codes
0  SG            Downtown Toronto (St. George)    UG     FT    GO Train
   YK                                    Keele  Grad     PT      GO Bus
1  MI                        Mississauga (UTM)    UG     FT        Walk
   OC                                    OCADu    UG     FT        Walk
   RY                                 RyersonU    UG     FT        Walk

                 Gender  Licence     Work  Age  HomeZone  Family  ...  \
PD School_Codes                                                   ...
0  SG            Female        1  Unknown   43      8501       0  ...
   YK            Female        1  Unknown   30      8033       0  ...
1  MI              Male        1  Unknown   22        68       0  ...
   OC            Female        0  Unknown   20        68       0  ...
   RY            Female        1  Unknown   21        38       0  ...

                 Admission_Avg.SC  Admission_Avg.MI  Admission_Avg.YK  \
PD School_Codes
0  SG                       0.841              0.83             0.817
   YK                       0.841              0.83             0.817
1  MI                       0.841              0.83             0.817
   OC                       0.841              0.83             0.817
   RY                       0.841              0.83             0.817

                Admission_Avg.YG Admission_Avg.RY  Admission_Avg.OC  \
PD School_Codes
0  SG                      0.817             0.84             0.824
   YK                      0.817             0.84             0.824
1  MI                      0.817             0.84             0.824
   OC                      0.817             0.84             0.824
   RY                      0.817             0.84             0.824

                 Exp_Segment  Exp_Level         X         Y
PD School_Codes
0  SG               0.919270   0.919270  0.540185  0.857544
   YK               0.977998   0.977998  0.385145  0.479116
1  MI               1.268950   1.268950  0.430530  0.439445
   OC               0.679794   0.679794  0.430530  0.439445
   RY               0.895321   0.895321  0.434719  0.440647

[5 rows x 90 columns]

In [126]:
PD_df = double_df['Mode'].unstack()
PD_df

School_Codes       MI       OC       RY       SC       SG       YG       YK
PD
0                 NaN      NaN      NaN      NaN  Transit      NaN  Transit
1              Active   Active   Active  Transit   Active  Transit  Transit
2             Transit   Active  Transit  Transit   Active  Transit  Transit
3             Transit  Transit  Transit  Transit  Transit  Transit  Transit
4             Transit  Transit  Transit  Transit  Transit   Active  Transit
5             Transit  Transit  Transit  Transit  Transit  Transit  Transit
6             Transit  Transit  Transit  Transit  Transit  Transit  Transit
7             Transit  Transit  Transit  Transit  Transit  Transit  Transit
8             Transit  Transit  Transit  Transit  Transit  Transit  Transit
9             Transit  Transit  Transit  Transit  Transit  Transit  Transit
10            Transit  Transit  Transit  Transit  Transit  Transit   Active
11            Transit  Transit  Transit  Transit  Transit  Transit  Transit
12                NaN  Transit  Transit  Transit  Transit  Transit  Transit
13            Transit  Transit  Transit  Transit  Transit  Transit  Transit
14            Transit  Transit  Transit  Transit  Transit  Transit  Transit
15            Transit  Transit  Transit   Active  Transit  Transit  Transit
16            Transit  Transit  Transit  Transit  Transit  Transit  Transit
18                NaN  Transit  Transit     Auto  Transit      NaN     Auto
19                NaN      NaN      NaN     Auto  Transit      NaN  Transit
20                NaN  Transit  Transit  Transit  Transit  Transit  Transit
21               Auto  Transit  Transit  Transit  Transit     Auto  Transit
22                NaN  Transit  Transit  Transit  Transit  Transit  Transit
23                NaN      NaN  Transit  Transit  Transit  Transit  Transit
24                NaN  Transit  Transit  Transit  Transit      NaN  Transit
25                NaN      NaN      NaN      NaN  Transit      NaN     Auto
26                NaN      NaN  Transit  Transit  Transit      NaN     Auto
27            Transit  Transit  Transit     Auto  Transit  Transit  Transit
28                NaN  Transit  Transit     Auto  Transit  Transit  Transit
29               Auto  Transit  Transit  Transit  Transit     Auto  Transit
30            Transit  Transit  Transit     Auto  Transit     Auto  Transit
31               Auto  Transit  Transit  Transit  Transit  Transit  Transit
32                NaN      NaN  Transit  Transit  Transit     Auto  Transit
33            Transit  Transit  Transit  Transit  Transit  Transit  Transit
34               Auto     Auto  Transit  Transit     Auto      NaN  Transit
35            Transit  Transit  Transit  Transit  Transit  Transit  Transit
36            Transit  Transit  Transit  Transit  Transit  Transit  Transit
37               Auto  Transit  Transit      NaN  Transit     Auto  Transit
38            Transit      NaN  Transit  Transit  Transit      NaN  Transit
39               Auto  Transit  Transit      NaN  Transit  Transit  Transit
40            Transit  Transit  Transit      NaN  Transit      NaN  Transit
41               Auto      NaN  Transit      NaN  Transit      NaN      NaN
42                NaN  Transit      NaN      NaN  Transit      NaN      NaN
43            Transit      NaN      NaN      NaN  Transit      NaN      NaN
44            Transit  Transit  Transit      NaN      NaN  Transit     Auto
45                NaN      NaN  Transit      NaN  Transit      NaN  Transit
46               Auto  Transit  Transit      NaN  Transit      NaN  Transit

In [148]:
PD_df['n'] = None
sample_sizes = []

for i in PD_df.index.tolist():
    sample_sizes.append(len(df[df['PD'] == i]))

PD_df['n'] = sample_sizes

In [149]:
PD_df

School_Codes,MI,OC,RY,SC,SG,YG,YK,PD,n
PD,,,,,,,,,
0,NaN,NaN,NaN,NaN,Transit,NaN,Transit,0,7
1,Active,Active,Active,Transit,Active,Transit,Transit,1,3056
2,Transit,Active,Transit,Transit,Active,Transit,Transit,2,957
3,Transit,Transit,Transit,Transit,Transit,Transit,Transit,3,610
4,Transit,Transit,Transit,Transit,Transit,Active,Transit,4,582
5,Transit,Transit,Transit,Transit,Transit,Transit,Transit,5,259
6,Transit,Transit,Transit,Transit,Transit,Transit,Transit,6,510
7,Transit,Transit,Transit,Transit,Transit,Transit,Transit,7,109
8,Transit,Transit,Transit,Transit,Transit,Transit,Transit,8,356
9,Transit,Transit,Transit,Transit,Transit,Transit,Transit,9,144
10,Transit,Transit,Transit,Transit,Transit,Transit,Active,10,617
11,Transit,Transit,Transit,Transit,Transit,Transit,Transit,11,631
12,NaN,Transit,Transit,Transit,Transit,Transit,Transit,12,205
13,Transit,Transit,Transit,Transit,Transit,Transit,Transit,13,553
14,Transit,Transit,Transit,Transit,Transit,Transit,Transit,14,142
15,Transit,Transit,Transit,Active,Transit,Transit,Transit,15,335
16,Transit,Transit,Transit,Transit,Transit,Transit,Transit,16,523
18,NaN,Transit,Transit,Auto,Transit,NaN,Auto,18,10
19,NaN,NaN,NaN,Auto,Transit,NaN,Transit,19,5
20,NaN,Transit,Transit,Transit,Transit,Transit,Transit,20,132
21,Auto,Transit,Transit,Transit,Transit,Auto,Transit,21,142
22,NaN,Transit,Transit,Transit,Transit,Transit,Transit,22,73
23,NaN,NaN,Transit,Transit,Transit,Transit,Transit,23,44
24,NaN,Transit,Transit,Transit,Transit,NaN,Transit,24,14
25,NaN,NaN,NaN,NaN,Transit,NaN,Auto,25,7
26,NaN,NaN,Transit,Transit,Transit,NaN,Auto,26,16
27,Transit,Transit,Transit,Auto,Transit,Transit,Transit,27,60
28,NaN,Transit,Transit,Auto,Transit,Transit,Transit,28,69
29,Auto,Transit,Transit,Transit,Transit,Auto,Transit,29,343
30,Transit,Transit,Transit,Auto,Transit,Auto,Transit,30,40
31,Auto,Transit,Transit,Transit,Transit,Transit,Transit,31,638
32,NaN,NaN,Transit,Transit,Transit,Auto,Transit,32,31
33,Transit,Transit,Transit,Transit,Transit,Transit,Transit,33,577
34,Auto,Auto,Transit,Transit,Auto,NaN,Transit,34,49
35,Transit,Transit,Transit,Transit,Transit,Transit,Transit,35,720
36,Transit,Transit,Transit,Transit,Transit,Transit,Transit,36,1400
37,Auto,Transit,Transit,NaN,Transit,Auto,Transit,37,14
38,Transit,NaN,Transit,Transit,Transit,NaN,Transit,38,64
39,Auto,Transit,Transit,NaN,Transit,Transit,Transit,39,167
40,Transit,Transit,Transit,NaN,Transit,NaN,Transit,40,71
41,Auto,NaN,Transit,NaN,Transit,NaN,NaN,41,4
42,NaN,Transit,NaN,NaN,Transit,NaN,NaN,42,2
43,Transit,NaN,NaN,NaN,Transit,NaN,NaN,43,11
44,Transit,Transit,Transit,NaN,NaN,Transit,Auto,44,7
45,NaN,NaN,Transit,NaN,Transit,NaN,Transit,45,8
46,Auto,Transit,Transit,NaN,Transit,NaN,Transit,46,43

In [152]:
del PD_df['PD']

In [153]:
PD_df.to_csv('PD_Modes.csv')