In [10]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('../../Data/TTS_2016/TTS_2016_Subset.csv', index_col=0)

In [43]:
fixed_codes = pd.read_csv('../../Data/TTS_2016/SubsetSchoolCodes.csv')
fixed_codes['SchoolName'] = fixed_codes['Name'].apply(lambda x: x.split(' --')[0].strip())
fixed_codes = fixed_codes.set_index('SchoolName')
df['Campus'] = df['SchoolName'].apply(lambda x: fixed_codes.loc[x]['Short'])
df['Inst'] = df['SchoolName'].apply(lambda x: fixed_codes.loc[x]['Inst'])
df['Grad/Adult'] = df['SchoolName'].apply(lambda x: bool(fixed_codes.loc[x]['Grad/Adult']))
df['Inst'].value_counts()

UT    3468
YK    2028
GB    1374
RY    1326
HU    1034
SE     867
MC     709
SH     689
CT     533
IT     475
MO     320
DU     207
OC     158
GU     155
TR      51
TY      50
TS      11
BR       4
Name: Inst, dtype: int64

In [39]:
unis = ('UT', 'YK', 'RY', 'MC', 'IT', 'OC', 'GU', 'BR', 'TR','TY')
private = ('TY', 'TS')
df['Private'] = df['Inst'].isin(private)
df['University'] = df['Inst'].isin(unis)

In [40]:
df.groupby('University')['Dist'].describe()

,count,mean,std,min,25%,50%,75%,max
University,,,,,,,,
False,5035.0,17.301443,13.640529,0.0,7.691927,14.21457,23.066065,133.2000
True,8424.0,18.486828,16.043983,0.0,6.715766,14.90143,25.931120,131.9844

In [41]:
df.groupby(['Private', 'University'])['Age'].describe()

                     count       mean        std   min    25%   50%   75%  \
Private University
False   False       5024.0  26.214172   9.601844  17.0  20.00  23.0  29.0
        True        8374.0  24.777526   9.182392  17.0  20.00  22.0  26.0
True    False         11.0  35.545455   8.536552  24.0  31.00  35.0  38.0
        True          50.0  36.440000  13.760577  18.0  23.25  33.5  47.0

                     max
Private University
False   False       88.0
        True        89.0
True    False       56.0
        True        65.0

In [44]:
df.groupby('Grad/Adult')['Age'].describe()

              count       mean        std   min   25%   50%   75%   max
Grad/Adult
False       13091.0  25.253686   9.356346  17.0  20.0  22.0  27.0  89.0
True          368.0  29.358696  10.559892  17.0  22.0  26.0  33.0  75.0

In [22]:
df.groupby('Inst')['Dist'].quantile(0.99).sort_values()

Inst
TS     16.130389
BR     21.521396
TR     49.425460
RY     53.625600
UT     54.215311
HU     55.861243
GB     56.712245
TY     59.383759
SE     59.467633
SH     63.429402
CT     63.873966
YK     65.210846
OC     65.765288
GU     67.292405
MO     73.818350
DU     75.932093
IT     81.002099
MC    107.352744
Name: Dist, dtype: float64

In [23]:
df.groupby('Inst')['Dist'].describe()

,count,mean,std,min,25%,50%,75%,max
Inst,,,,,,,,
BR,4.0,16.122580,6.032791,8.177679,13.141105,17.371275,20.352750,21.57009
CT,533.0,16.730096,14.573474,0.858078,6.177674,12.376630,23.230370,91.65036
DU,207.0,17.103118,14.561940,0.000000,7.157699,12.727210,20.228530,78.53922
GB,1374.0,17.964892,13.558853,0.000000,7.217740,15.067505,25.984010,83.98720
GU,155.0,19.968554,12.883145,0.000000,11.720335,17.920000,23.552850,87.52548
HU,1034.0,18.246655,11.410519,0.000000,10.861800,16.447150,22.982500,74.39889
IT,475.0,21.114433,18.984628,0.000000,6.365921,16.015660,32.050890,87.86720
MC,709.0,32.771283,29.185320,0.000000,7.773134,23.781760,51.089800,131.98440
MO,320.0,17.841146,20.145813,0.962730,4.194589,10.825760,23.200810,133.20000
OC,158.0,19.363739,15.935946,0.000000,5.992332,16.959995,29.094542,82.75464
RY,1326.0,20.466392,13.179066,0.000000,10.021210,19.086490,29.699205,103.43290
SE,867.0,16.996223,12.582200,0.000000,8.611182,13.925070,21.848465,101.00010
SH,689.0,15.379100,13.225303,0.000000,7.127210,11.994700,19.576630,92.49545
TR,51.0,15.082356,11.135859,1.717351,6.839124,12.443150,18.941835,49.42546
TS,11.0,5.762223,5.141316,0.952180,2.054366,4.506405,8.275184,16.58835
TY,50.0,15.925637,13.536946,0.000000,6.821064,11.923280,19.824220,72.03133
UT,3468.0,14.402632,12.706472,0.000000,4.093530,11.290980,21.322935,86.11837
YK,2028.0,18.539207,12.391406,0.000000,9.404028,16.540490,25.579210,86.55743

In [45]:
df.groupby('SchoolName')['Age'].quantile(0.1).sort_values()

SchoolName
RYERSON SCHOOL OF BUSINESS MANAGEMENT                      18.0
SENECA COLLEGE - KING                                      18.0
SCARBOROUGH ADP (UTSC)                                     18.0
YORK UNIVERSITY - YORK (KEELE & STEELES)                   18.0
RYERSON POLYTECHNIC UNIVERSITY                             18.0
OSGOODE HALL LAW SCHOOL - YORK UNIVERSITY MAIN CAMPUS      18.0
SHERIDAN COLLEGE - TRAFALGAR ROAD                          18.0
ONTARIO COLLEGE OF ART & DESIGN                            18.0
MOHAWK COLLEGE - FENNELL                                   18.0
UNIVERSITY OF GUELPH AT HUMBER                             18.0
MCMASTER UNIVERSITY MEDICAL CENTRE SCHOOL                  18.0
UNIVERSITY OF HUMBER GUELPH                                18.0
UNIVERSITY OF TORONTO -  MISSISSAUGA CAMPUS                18.0
HUMBER COLLEGE - NORTH CAMPUS                              18.0
MCMASTER UNIVERSITY                                        18.0
GEORGE BROWN COLLEGE - WATERFRONT                          18.0
CENTENNIAL COLLEGE - ASHTONBEE                             18.0
YORK UNIVERSITY - GLENDON CAMPUS                           18.0
CENTENNIAL COLLEGE-PROGRESS (COMMUNITY PROGRESS)           18.0
UNIVERSITY OF TORONTO -  SCARBOROUGH CAMPUS                18.0
DURHAM COLLEGE - WHITBY (SKILL TRAINING CTR)               18.0
UOIT MAIN CAMPUS - DURHAM COLLEGE                          18.0
DURHAM COLLEGE - OSHAWA                                    18.0
UNIVERSITY OF TORONTO SCHOOLS                              18.0
GEORGE BROWN COLLEGE - ST JAMES                            18.0
SENECA COLLEGE - YORK UNIVERSITY CAMPUS                    18.0
SCHULICH SCHOOL OF BUSINESS                                18.1
CENTENNIAL COLLEGE - BELL CENTRE                           18.2
MOHAWK COLLEGE - STONEY CREEK                              18.3
MCMASTER UNIVERSITY - DEGROOTE SCHOOL OF BUSINESS          18.5
CENTENNIAL COLLEGE - MORNINGSIDE                           18.7
TRENT UNIVERSITY - OSHAWA                                  19.0
SENECA COLLEGE - YORKGATE                                  19.0
UNIVERSITY OF TORONTO - ST GEORGE CAMPUS                   19.0
SHERIDAN COLLEGE - SKILLS TRAINING CENTRE                  19.0
SHERIDAN COLLEGE - MISSISSAUGA                             19.0
SHERIDAN COLLEGE - DAVIS                                   19.0
UOIT - DOWNTOWN CAMPUS                                     19.0
BROCK UNIVERSITY AT SHERIDAN                               19.0
SENECA COLLEGE - NEWNHAM                                   19.0
CENTENNIAL COLLEGE - PROGRESS                              19.0
GEORGE BROWN COLLEGE - CASA LOMA                           19.0
GEORGE BROWN COLLEGE - RYERSON CAMPUS                      19.0
SENECA COLLEGE - SCARBOROUGH                               19.0
HUMBER COLLEGE - LAKESHORE CAMPUS                          19.0
SENECA COLLEGE - MARKHAM CAMPUS                            19.0
INSTITUTE FOR APPLIED HEALTH SCIENCES - MOHAWK/MCMASTER    19.3
GEORGE BROWN COLLEGE - HOSPITALITY & TOURISM               19.4
MOHAWK COLLEGE - WENTWORTH CAMPUS                          20.0
SENECA COLLEGE - JANE                                      20.0
GEORGE BROWN COLLEGE - ADMINISTRATION                      20.0
YORK UNIVERSITY FACULTY OF EDUCATION                       20.0
MCMASTER - CENTRE FOR CONTINUING EDUCATION                 20.4
UNIVERSITY OF TORONTO - DENTISTRY                          21.0
TYNDALE COLLEGE & THEOLOGICAL SEMINARY                     21.9
MICHENER INSTITUTE FOR APPLIED HEALTH SCIENCES             22.0
UNIVERSITY OF TORONTO PHYSICAL THRERAPY                    22.0
ONTARIO INSTITUTE FOR STUDIES IN EDUCATION                 26.0
TRIOS COLLEGE-MISSISSAUGA (CITY CENTRE DR)                 26.0
WYCLIFFE COLLEGE                                           35.0
Name: Age, dtype: float64

In [25]:
df.groupby('Campus')['Age'].describe().sort_values('min')

,count,mean,std,min,25%,50%,75%,max
Campus,,,,,,,,
Ryerson,1326.0,25.450980,10.612926,17.0,19.25,21.0,27.00,83.0
UOIT Oshawa,425.0,23.244706,7.313491,17.0,19.00,21.0,24.00,61.0
Toronto St. George,2407.0,26.761529,10.216101,17.0,20.00,23.0,29.00,89.0
Toronto Scarborough,598.0,20.812709,3.904004,17.0,19.00,20.0,22.00,60.0
Toronto Mississauga,463.0,21.898488,5.849525,17.0,19.00,20.0,22.00,58.0
Sheridan Trafalgar,257.0,25.210117,9.408410,17.0,19.00,21.0,26.00,61.0
Sheridan Mississauga,156.0,27.519231,9.238399,17.0,21.00,24.0,32.00,56.0
Sheridan Davis,276.0,26.952899,10.079392,17.0,20.00,23.0,31.00,65.0
Seneca York,78.0,23.551282,7.110715,17.0,19.00,21.5,25.00,56.0
Seneca Newnham,540.0,28.950000,10.291093,17.0,21.00,25.0,35.00,80.0
Seneca King,86.0,22.453488,6.013039,17.0,19.00,21.0,23.00,48.0
York Glendon,123.0,30.772358,18.937262,17.0,20.00,22.0,31.50,86.0
OCAD,158.0,23.518987,7.020191,17.0,19.00,21.0,24.00,57.0
Mohawk Fennell,261.0,26.344828,10.591536,17.0,19.00,22.0,28.00,74.0
McMaster Main,644.0,23.419255,7.201909,17.0,19.00,21.0,24.00,67.0
York Keele,1905.0,24.456693,8.049567,17.0,20.00,22.0,26.00,77.0
McMaster Burlington,46.0,26.369565,7.199873,17.0,20.00,25.5,32.00,45.0
Centennial Ashtonbee,87.0,23.931034,8.756118,17.0,19.00,21.0,24.00,61.0
Centennial Morningside,158.0,26.284810,8.496602,17.0,20.00,23.0,31.75,59.0
Centennial Progress,255.0,26.792157,9.823238,17.0,20.00,23.0,31.00,68.0
Durham Oshawa,123.0,24.406504,9.585540,17.0,19.00,21.0,24.00,63.0
Durham Whitby,84.0,24.428571,10.759457,17.0,19.00,20.0,25.00,79.0
George Brown St. James,973.0,26.582734,10.532850,17.0,20.00,22.0,29.00,87.0
George Brown Waterfront,121.0,29.595041,9.875541,17.0,21.00,27.0,37.00,59.0
George Brown Casa Loma,280.0,26.539286,8.711951,17.0,20.00,24.0,30.00,66.0
Guelph Humber,155.0,21.148387,5.217097,17.0,18.50,20.0,22.00,63.0
Humber Lakeshore,317.0,24.356467,8.021474,17.0,20.00,22.0,25.00,70.0
Humber North,717.0,24.940028,8.261983,17.0,20.00,22.0,27.00,66.0
Seneca Scarborough,35.0,26.885714,12.256502,18.0,20.50,24.0,29.50,88.0
McMaster Hamilton,19.0,34.578947,11.505148,18.0,26.50,33.0,42.50,54.0
Centennial Story Arts,33.0,22.666667,5.919600,18.0,19.00,20.0,24.00,48.0
Trent Oshawa,51.0,24.176471,9.288070,18.0,20.00,21.0,23.50,69.0
Tyndale,50.0,36.440000,13.760577,18.0,23.25,33.5,47.00,65.0
UOIT Downtown,50.0,24.380000,6.632911,18.0,21.00,23.0,24.00,47.0
Mohawk Stoney Creek,44.0,26.250000,8.605366,18.0,19.00,23.0,30.50,47.0
Seneca Markham,89.0,25.719101,7.623213,18.0,20.00,23.0,28.00,57.0
Seneca Yorkgate,16.0,30.000000,11.593101,19.0,19.00,26.0,37.50,50.0
Seneca Jane,23.0,26.086957,10.277571,19.0,20.00,22.0,24.50,56.0
Mohawk Wentworth,15.0,26.533333,11.407182,19.0,20.50,23.0,27.50,65.0
Brock Sheridan,4.0,21.750000,3.774917,19.0,19.00,20.5,23.25,27.0
Trios Mississauga,11.0,35.545455,8.536552,24.0,31.00,35.0,38.00,56.0

In [8]:
for name in fixed_codes.index:
    if name not in df['SchoolName'].unique().tolist():
        print("<", name, ">")

< BROCK UNIVERSITY >
< CONESTOGA COLLEGE - DOON CAMPUS >
< GEORGIAN COLLEGE - BARRIE KEMPENFELT >
< GEORGIAN COLLEGE - BARRIE MAIN >
< GEORGIAN COLLEGE - ORILLIA >
< UNIVERSITY OF GUELPH >
< LAKEHEAD UNIVERSITY - ORILLIA CAMPUS >
< MCMASTER UNIVERSITY - WATERLOO REGIONAL CAMPUS >
< NIAGARA COLLEGE - MAID OF THE MIST CENTRE >
< NIAGARA COLLEGE - WELLAND >
< TRENT UNIVERSITY - MAIN/SYMONS >
< WILFRID LAURIER UNIVERSITY - BRANTFORD >
< WILFRID LAURIER UNIVERSITY - KITCHENER CAMPUS >
< WILFRID LAURIER UNIVERSITY >
< UNIVERSITY OF WATERLOO - CAMBRIDGE >
< UNIVERSITY OF WATERLOO - MAIN >

In [9]:
print(df['Distance'].describe())

numBins = 500
plt.figure()
df['Distance'].plot.hist(bins=numBins)
plt.xlabel('Distance (km)')
plt.show()

boxplot = df.boxplot(column=['Distance'])

KeyError: 'Distance'

The resutls show that on average students commute around __16 km__ every day. The spread of the data is large, however, which is normal because here we are not differentiating between the different modes of transportation that students may take. Those who walk, for example, will travel a lot less than 16 km to get to school while those who take regional transit will probably travel a lot more than that. We can see that there are also many outliers in the data who suposedly travel very long distances every day. The maximum distance travelled from this data set is around 120 km, which is more or less the distance between Whitby and Hamilton. It is highly unlikely for a person to be travelling this distance to get to school, which makes us question the reliability of this data. 

#### Distance per Mode of Transportation

To better analyzer our data, we divided the distance distributions among the diferent modes of transportation present in the survey:

In [ ]:
fig = plt.figure(figsize=(16, 8))
labels=['Public Transit', 'Auto Driver', 'Auto Passenger', 'Walk', 'GO Rail + Public Transit', 'Bicycle', 'GO Rail', 'Paid Rideshare', 'Taxi', 'Motorcycle', 'Other']
modes = ('B','D','P','W','J','C','G','U','T','M','O')
for i in range(len(modes)):
    temp_df = df.loc[df['ModeTakenToSchool'] == modes[i]]
    plt.subplot(2, 6, i+1)
    boxplot = temp_df.boxplot(column=['Distance'])
    plt.title(labels[i])
    plt.ylim((0, 125000))
    plt.tight_layout()
plt.show()

In general, the average distance of every mode of transportation makes sense. Those taking public transit travel around __10 km__, those who walk travel close to __1 km__, while those who take the GO Rail travel more tahn __30 km__. The main concern when looking at this data is the amount of respondents who claim to travel relatively long distances in certain modes of transportation. There are some people who entered a walking distance of about 90 km, when walking more than 15 km is already unreasonable. A similar thing happens with cyclists since some claim to to travel up to 60 km. Even for public transit there are too many outliers who say they commute more than 60 km, which is not likely. It is also unlikely for people to drive to school more than 100 km every day. It is possible that we may need to filter this data to remove a lot of these obvious outliers.

## 2. Auto Travel Time

Next, we examine the auto travel time between the home and school zones of the respondents:

In [ ]:
print(df['AutoTravelTime'].describe())
numBins = 500
plt.figure()
df['AutoTravelTime'].plot.hist(bins=numBins)
plt.xlabel('Auto Travel Times')
plt.show()

The resutls are not too outrageous with an average of __27 minutes__. However, this auto travel time between traffic zones includes the respondents who use every type of mode, which explains the large spread inthe data.

#### Looking only at Car Users
It may be better to look only at the auto travel times for those respondents that travel to school by car:

In [ ]:
drive_df = df.loc[df['ModeTakenToSchool'].isin(['D','P','T','U'])]
print(drive_df['AutoTravelTime'].describe())

boxplot = drive_df.boxplot(column=['AutoTravelTime'])

Interestingly, the spread of the data does not change much from above. In fact, we still have many outliers who apparently travel more than 2 hours by car.

## 3. Transit Travel Time
Next, we examine the transit travel times between the home and school zones of the respondents. This time is estimated by adding the average walking time from a student's home zone to the nearest transit station, the average time spent waiting for the transit, the average time spent in the transit vehicle, and the average time it takes to walk from the arrival station to the school zone.

In [ ]:
print(df['TransitTravelTime'].describe())
numBins = 500
plt.figure()
df['TransitTravelTime'].plot.hist(bins=numBins)
plt.xlabel('Transit Travel Times')
plt.show()

As we can see, these transit travel times seem very high in general. The average transit travel time is of __1 hour 25 minutes__, which and there is a large number of transit travel times above 2 hours and up to 7.5 hours. Similar to what we did for auto travel times, it might be beneficial to look at transit travel time for people who only take transit.

#### Looking only at Public Transit Users

Let's look only at the population of respondents who only take public transit (not including GO Rail):

In [ ]:
transit_df = df.loc[df['ModeTakenToSchool'] == 'B']
transit_df['TransitTravelTime'].describe()

In [ ]:
boxplot = transit_df.boxplot(column=['TransitTravelTime'])

The average and spread still look to high, so it is worth dividing this transit travel time into a) walking, b) waiting and c) in-vehicles components, to see which part contributes most to this abnormal transit time:

__a) Walking time:__

In [ ]:
boxplot = transit_df.boxplot(column=['WalkingTime'])

We can see that the average walking time of __20 minutes__ is not bad, but there are some very evident outliers. Walking to and from transit for more than 40 minutes seems a little unlikely. It is possible that these numbers are so high because the program used to calculate the walking times was not cosidering that some students are driven to their transit station, for example.

__b) Waiting Time:__

In [ ]:
boxplot = transit_df.boxplot(column=['WaitingTime'])

Waiting time looks reasonable. 

__c) In-Vehicle Time:__

In [ ]:
boxplot = transit_df.boxplot(column=['tivtt'])

In-vehicle time look a bit suspicious. Even though the average of __50 minutes__ is possible, there is a high number of students who spend more than an hour in their transit vehicle, which does not seem very reasonable considering that this only includes buses, subways, and streetcars. 

#### Looking at GO Rail Users Only

Let's now look at the transit travel times of those students who take the GO Rail to school.

In [ ]:
df_GO = df.loc[df['ModeTakenToSchool'].isin(['G','J'])]
boxplot = df_GO.boxplot(column=['TransitTravelTime'])

Once again, the times we get are very high. We now have an average of around __2 hours__ of transit commute with some very high outlier, which is definitely not accurate. Let's divide the time again into  a) walking, b) waiting and c) in-vehicles components, to see which part contributes most to this abnormal transit time:

__a) Walking Time:__

In [ ]:
boxplot = df_GO.boxplot(column=['WalkingTime'])

Walking time is possible but quite high once again considering the large number of people walking for more than an hour. Again, it is possible that these times are so high because the program used to calculate them did not consider that some students are driven to their transit station.


__b) Waiting Time:__

In [ ]:
boxplot = df_GO.boxplot(column=['WaitingTime'])

Waiting time, again, seems reasonable. 

__c) In-Vehicle Time:__

In [ ]:
boxplot = df_GO.boxplot(column=['tivtt'])

These in-vehicle times also seem very off. It looks like students taking the GO Rail spend more than an hour inside of the train on average. From personal experience, this does not sound accurate at all.

# Next Steps:

- Filter the data to remove many of the present outliers to obtain more realistic travel times. A way to do this could be to look at _StudentMoveTO_ travel time data and use their maximum times as a cut-off time for the TTS data. If this method still leaves way too many evident outliers, then we may want to remove all respondents who claim to travel more thatn 150 minutes (as suggested by James)