In [1]:
import pandas as pd
campus_info = pd.read_csv('SMTO_2015/Campus_Info.csv')

# List of campus' TTS zones from Joven's MOE data
campus_zones = list(campus_info['Zone'])
school_codes = list(campus_info['Code'])

In [2]:
# Dataframe with walk distances
df_path = pd.read_csv('../../LoS/Walk_Distances.csv')
zones = list(set(list(df_path['Origin'])))
dists = list(df_path['Data'])
df = pd.DataFrame(zones, columns = ['Origin'])
df

      Origin
0          1
1          2
2          3
3          4
4          5
...      ...
2387    8029
2388    8030
2389    8031
2390    8032
2391    8033

[2392 rows x 1 columns]

In [3]:
# Function for distance lookup
def find_distance(origin, destination, info_num):
    i = zones.index(origin)
    j = zones.index(destination)
    return dists[i*2392 + j] / 1000

# Load distances into dataframe
for i in range(len(campus_zones)):
    df["Dist." + school_codes[i]] = df['Origin'].apply(lambda x: find_distance(x, campus_zones[i],0))
df

,Origin,Dist.SG,Dist.SC,Dist.MI,Dist.YK,Dist.YG,Dist.RY,Dist.OC
0,1,8.233101,17.76699,27.43587,24.33012,11.45088,6.407150,7.172228
1,2,7.629588,18.88647,26.70272,23.72661,11.60740,5.773918,6.420753
2,3,6.983658,18.75429,26.05679,23.08068,10.79940,5.127988,5.774823
3,4,6.303398,19.60028,25.34593,22.45217,11.28469,4.417128,5.063963
4,5,5.788057,20.27234,24.83059,21.93682,11.30364,3.901787,4.548622
...,...,...,...,...,...,...,...,...
2387,8029,77.239380,93.74969,60.94601,69.60850,79.09734,78.755910,77.689040
2388,8030,87.718570,92.80574,89.03488,72.48661,82.65608,88.263600,89.030800
2389,8031,99.821740,116.33210,83.30616,92.19087,101.67970,101.338300,100.271400
2390,8032,54.637370,59.72455,65.54156,42.74821,49.57488,55.182410,55.949600
2391,8033,81.972510,87.05968,91.53315,70.08334,76.91002,82.517540,83.284730

In [4]:
df.to_csv('Full_Zones_Dists.csv', index = False)